<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/bootstrap.bundle/min.js"></script>
</head>
<body>
    <div class="form-box">
        <form action="/member/delete" method="post">
                <input type="hidden" name="userId" value="" th:value="${param.userId}">
              <div class="form-floating  mb-3" >
                <input type="password" name="userPw" class="form-control" id="floatingPassword" placeholder="패스워드를 입력해주세요">
                <label for="floatingPassword">Password</label>
              </div>
             
              <hr>
              <div class="text-center" >
                <button class="btn btn-primary">DELETE</button>
                <button type="reset" class="btn btn-secondary">RESET</button>
              </div>
        </form>
    </div>
</body>
</html>