<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/bootstrap.bundle/min.js"></script>
</head>
<body>
   <div class="form-box">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NO</th>
            <th scope="col">userId</th>
            <th scope="col">userPw</th>
            <th scope="col">userName</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td th:text="${one.userId}">Mark</td>
            <td th:text="${one.userPw}">Otto</td>
            <td><a href="#" th:text="${one.userName}">@mdo</a></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-5 mb-3">
        <a href="/member/join" class="btn btn-primary btn-lg">JOIN</a>
        <A href="/" class="btn btn-secondary btn-lg">Home</A>
      </div>
   </div>
</body>
</html>