<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/bootstrap.bundle/min.js"></script>
</head>
<body>
   <div class="form-box">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">NO</th>
            <th scope="col">userId</th>
            <th scope="col">userPw</th>
            <th scope="col">userName</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="member:${member}" th:index="index">
            <th scope="row" th:text="${memberStat.count}">1</th>
            <td th:text="${member.userId}">Mark</td>
            <td th:text="${member.userPw}">Otto</td>
            <td th:text="${member.userName}">@mdo</td>
          </tr>
        </tbody>
      </table>
   </div>
</body>
</html>